.rendered-form {
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 10px; /* Adjust spacing between elements as needed */
}

.formbuilder-textarea, .formbuilder-select {
    flex: 1; /* Allow both elements to grow and take up available space */
}

.formbuilder-textarea-label, .formbuilder-select-label {
    display: inline-block; /* Ensures labels are on their own line */
    margin-bottom: 5px; /* Space between label and input */
}
