<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
  </head>
    <body>
        <div class="header-bar">

          <div class="Logo">
            <img src = "../img/ucm-logo.png">
          </div>

          <div class="title">
            <h1 class="website-context">
              <strong>UC Merced</strong>
            </h1>
            <p class="wcontext-second">
              Bus Transportation Network 
            </p>
          </div>

          <div class="header-pages">
            <a href="index.html" class="home-page">Home &nbsp; &nbsp; &nbsp;</a>
            <a href="liveroutes.html" class="liveRoutes-page">Live Routes &nbsp; &nbsp; &nbsp;</a>
            <a href="schedules.html" class="schedules-page">Schedules &nbsp; &nbsp; &nbsp;</a>
            <a href="contact.html" class="contact-page">Contact &nbsp; &nbsp; &nbsp;</a>
          </div>
    </body>
</html>
