<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/static/styles.css">
  </head>
    <body>
        <div class="header-bar">

          <div class="Logo">
            <img src = "../public/static/img/ucm-logo.png">
          </div>

          <div class="title">
            <h1 class="website-context">
              <strong>UC Merced</strong>
            </h1>
            <p class="wcontext-second">
              Bus Transportation Network 
            </p>
          </div>

          <div class="header-pages">
            <a href="http://127.0.0.1:5000/" class="home-page">Home &nbsp; &nbsp; &nbsp;</a>
            <a href="http://127.0.0.1:5000/planner" class="liveRoutes-page">Live Routes &nbsp; &nbsp; &nbsp;</a>
            <a href="http://127.0.0.1:5000/schedules" class="schedules-page">Schedules &nbsp; &nbsp; &nbsp;</a>
            <a href="http://127.0.0.1:5000/contact" class="contact-page">Contact &nbsp; &nbsp; &nbsp;</a>
          </div>

        </div>

        <div class="table-or-list">
            <h2 id="cattracks-content" style="text-align: center"><strong>CatTracks Bus Routes</strong></h2>
            <div class="col-sm-4-cattracks-bobcat_express" data-locations="R Street Village Terrance Apartments, El Redondo Drive, Compass Pointe Apartments, Merced College The Bus Terminal, North Transit Hub at M Street and Bellevue Road Park and Ride, University Transit Center (UTC), Promenade Center, Merced Mall and Target, Walmart and Loughborough Drive, Amtrak Station, K Street and 18th Street and 19th Street, Merced Transport, Walgreens, El Portal Plaza" data-name="Bobcat Express" data-tags="weekdays, community college, shopping, food, eating, bites, train, health, medical, doctor, dentist">
            <h3><strong>Bobcat Express</strong></h3>
            <p><strong>Campus, Bellevue &amp;<br>
                    R Street</strong></p>
            <p><strong>Mon - Fri &nbsp;| 6:29AM - 9:20PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/bobcat_express_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-c_1" data-locations="Granville Apartments, G Street and West Alexander Avenue, Walgreens, El Portal Plaza, Mercy Hospital and Medical Center and Tri-College, North Transit Hub at M Street and Bellevue Road Park and Ride, University Transit Center, Mercy Hospital and Medical Center and Tri-College, El Portal Plaza, G Street and West Alexander Avenue" data-name="C-1" data-tags="weekdays, health, shopping, health, medical, doctor, dentist, food, eating, bites">
            <h3><strong>C-1</strong></h3>
            <p><strong>Campus, G St. &amp;<br>
                    Granville Apts.</strong></p>
            <p><strong>Mon - Fri &nbsp;| 6:20AM - 10:28PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/c-1_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-c_2" data-locations="R Street Village Terrance Apartments, El Redondo Drive, Compass Pointe Apartments, Buena Vista Drive, Merced Mall and Target, M Street Village Terrance Apartments, Merced College The Bus Terminal, Cardella Road and M Street Northbound, North Transit Hub at M Street and Bellevue Road Park and Ride, Foothill Drive, Cardella Road and M Street Southbound" data-name="C-2" data-tags="weekdays, shopping, community college, food, eating, bites">
            <h3><strong>C-2</strong></h3>
            <p><strong>Campus &amp;<br>
                    Village Apts.</strong></p>
            <p><strong>Mon - Fri &nbsp;| 6:20AM - 10:07PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/c-2_fall_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-e_1" data-locations="University Transit Center, Raley's on G Street, Amtrak Station, K Street and 18th Street and 19th Street, Walmart and Loughborough Drive, FoodMaxx and Meadows Avenue and Olivewood Drive, Merced Mall and Target, Walgreens, Yosemite Crossings Shopping Center" data-name="E-1" data-tags="weekends, shopping, food, eating, bites, health, medical, doctor, train">
            <h3><strong>E-1</strong></h3>
            <p><strong>Campus, Moraga &amp;<br>
                    Downtown</strong></p>
            <p><strong>Sat - Sun &nbsp;| 8:30AM - 11:06PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/e-1_line_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-e_2" data-locations="University Transit Center, Promenade Center, R Street Village Terrance Apartments, El Redondo Drive, Compass Pointe Apartments, Merced Mall and Target, M Street Village Terrance Apartments, Ironstone Drive and M Street, Yosemite and Cordova at Merced Physical Center, Moraga Subdivision" data-name="E-2" data-tags="weekends, shopping, health, medical, doctor, food, eating, bites">
            <h3><strong>E-2</strong></h3>
            <p><strong>Yosemite Ave &amp;<br>
                    Bellevue Ranch</strong></p>
            <p><strong>Sat - Sun &nbsp;| 11:05AM - 9:56PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/e-2_line_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-fastcat" data-locations="University Surgery Center, Promenade Center, Yosemite Crossings Shopping Center, Mercy Hospital and Medical Center and Tri-College, Yosemite and Cordova at Merced Physical Center, Moraga Subdivision, University Transit Center" data-name="FastCat" data-tags="weekdays, shopping, health, medical, doctor, food, eating, bites">
            <h3><strong>FastCat</strong></h3>
            <p><strong>Campus, Bellevue Ranch &amp;<br>
                    R Street</strong></p>
            <p><strong>Mon - Fri &nbsp;| 6:35AM - 10:25PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/fastcat_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-fastcat_2" data-locations="University Surgery Center, Promenade Center, Yosemite Crossings Shopping Center, Mercy Hospital and Medical Center and Tri-College, Cardella Road and M Street, North Transit Hub at M Street and Bellevue Road Park and Ride, University Transit Center, Mercy Hospital and Medical Center and Tri-College, Yosemite and Cordova at University Surgery Center, Moraga Subdivision, University Transit Center" data-name="FastCat 2" data-tags="weekdays, food, eating, bites, shopping, health, medical, doctor">
            <h3><strong>FastCat 2</strong></h3>
            <p><strong>Campus, Bellevue Ranch &amp;<br>
                    R Street</strong></p>
            <p><strong>Mon - Fri &nbsp;| 8:30AM - 9:45PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/fastcat_2_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-g_line" data-locations="R Street Village Terrance Apartments, El Redondo Drive, Compass Pointe Apartments, Merced College The Bus Terminal, North Transit Hub at M Street and Bellevue Road Park and Ride, University Transit Center, Amtrak, K Street and 18th Street and 19th Street, Downtown Campus Center, Merced Transpo, R Street Village Terrance Apartments" data-name="G-Line" data-tags="weekdays, train">
            <h3><strong>G Line</strong></h3>
            <p><strong>R St., El Redondo &amp;<br>
                    Village Apts.</strong></p>
            <p><strong>Mon - Fri &nbsp;| 6:30AM - 10:03PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/g_line_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4-cattracks-yosemite_express" data-locations="Moraga Subdivision, University Transit Center, Foothill Drive, Mercy Hospital and Medical Center and Tri-College, Raley's on G Street, University Surgery Center" data-name="Yosemite Express" data-tags="weekdays, health, medical, doctor, shopping, food, eating, bites">
            <h3><strong>Yosemite Express</strong></h3>
            <p><strong>Campus &amp;<br>
                    Moraga, G St.</strong></p>
            <p><strong>Mon - Fri &nbsp;| 9:00AM - 10:09PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Spring/2026/yosemite_express_spring_2026_1_20_26.pdf" target="_blank" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;

            </div>
                        <!--  
            </div>
            <h2 id="city-bus-content" style="text-align: center"><strong>Merced's City Bus Routes</strong></h2>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, The Bus MCAG Office, Amtrak, M Street and Olive Avenue, Merced College Bus Terminal, Merced College UC Parking, Paulson Avenue and Yosemite Avenue, University Transit Center" data-name="Route UC" data-tags="weekdays, train">
            <h3><strong>Route UC</strong></h3>
            <p><strong>Paulson Ave. &amp;<br>
                    Olive Ave.</strong></p>
            <p><strong>Mon - Fri&nbsp; | 6:00AM - 8:00PM</strong></p>
            <p>&nbsp;</p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/route_uc_fall_2025_8_18_25.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>

            <div class="col-sm-4 thebus" data-locations="Merced Transpo, Employee Development Department, Buena Vista Plaza, El Redondo Drive and Aurora Drive, Merced College, Merced Mall and Target, Walmart and Loughborough Drive, Grocery Outlet, Merced Transpo, Dennis Chavez Park at 11th Street and W Street, Human Service Agency, T Street and 3rd Street, DMV (Department of Motorized Vehicles)" data-name="M-1" data-tags="weekdays, weekends, shopping, food, eating, bites">
            <h3><strong>M-1</strong></h3>
            <p><strong>Grocery Outlet &amp;<br>
                    T St., 3rd St.</strong></p>
            <p><strong>Mon - Fri&nbsp;| 6:00AM - 8:00PM</strong></p>
            <p><strong>Sat - Sun&nbsp;| 8:00AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-1_fall_2025_8_18_2025.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, Best Buy, Target, Merced College Bus Terminal, R Street Village Terrance Apartments, Walmart and Loughborough Drive" data-name="M-2" data-tags="weekdays, weekends, shopping, electronic, tech support, technology">
            <h3><strong>M-2</strong></h3>
            <p><strong>Best Buy &amp;<br>
                    Walmart</strong></p>
            <p><strong>Mon - Fri&nbsp;| 6:00AM - 8:00PM</strong></p>
            <p><strong>Sat - Sun&nbsp;| 8:30AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-2_fall_2025_8_18_2025.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, County Admin Building, Meadows Avenue at Olive Avenue, Merced Mall and Target, Merced College Bus Terminal, Mercy Medical Center, Merced Mall and Target, County Admin Building, Merced Transport Center, West Avenue and 1st Avenue, Golden Valley Health Centers" data-name="M-3" data-tags="weekdays, weekends, health, medical, doctor, food, eating, bites, shopping">
            <h3><strong>M-3</strong></h3>
            <p><strong>County Admin &amp;<br>
                    West Ave., 1st Ave.</strong></p>
            <p><strong>Mon - Fri&nbsp;| 6:00AM - 8:00PM</strong></p>
            <p><strong>Sat - Sun | 8:00AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-3_fall_2025_8_18_2025.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, East Campus Yosemite High School, G Street at Olive Avenue, Mercy Hospital and Medical Center, Merced College, North Transit Hub at M Street and Bellevue Road Park and Ride, G Street and Yosemite Avenue, G Street at Olive Avenue" data-name="M-4" data-tags="weekdays, weekends, health, medical, doctor">
            <h3><strong>M-4</strong></h3>
            <p><strong>Yosemite HS &amp;<br>
                    North Transit Hub</strong></p>
            <p><strong>Mon - Fri&nbsp;| 6:00AM - 8:30PM</strong></p>
            <p><strong>Sat - Sun&nbsp;| 8:00AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-4_fall_2025_8_18_2025pdf.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, The Bus MCAG Office, Amtrak, Rancho San Miguel, The Grove Apartments, Motel Drive, Amtrak" data-name="M-5" data-tags="weekdays, weekends, train, shopping, food, eating, bites">
            <h3><strong>M-5</strong></h3>
            <p><strong>Amtrak &amp;<br>
                    Rancho San Miguel</strong></p>
            <p><strong>Mon - Fri&nbsp;| 6:00AM - 8:00PM</strong></p>
            <p><strong>Sat - Sun | 8:00AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-5_fall_2025_8_18_2025.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, 27th Street and Green Street, Santa Fe at Reef Apartments, Alexander Avenue and Parsons Avenue, G Street at Olive Avenue at SaveMart" data-name="M-6" data-tags="weekdays, weekends, shopping, food, eating, bites">
            <h3><strong>M-6</strong></h3>
            <p><strong>Santa Fe &amp;<br>
                    SaveMart</strong></p>
            <p><strong>Mon - Fri&nbsp;| 7:00AM - 8:00PM</strong></p>
            <p><strong>Sat - Sun | 8:00AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-6_fall_2025_8_18_2025.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            <div class="col-sm-4 thebus" data-locations="Merced Transpo, B Street at Childs Avenue, G Street and Carmen Way at Brooks Park, Rescue Mission, D Street Apartments" data-name="M-7" data-tags="weekdays, weekends">
            <h3><strong>M-7</strong></h3>
            <p><strong>B Street &amp;<br>
                    Rescue Mission</strong></p>
            <p><strong>Mon - Fri&nbsp;| 6:00AM - 8:00PM</strong></p>
            <p><strong>Sat - Sun | 8:00AM - 6:00PM</strong></p>
            <div><a class="button" href="https://taps.ucmerced.edu/sites/g/files/ufvvjh1811/f/documents/Fall/2025/m-7_fall_2025_8_18_2025.pdf" style="text-decoration: none"><strong><font size="5">Schedule</font></strong></a></div>
            <div>&nbsp;</div>
            </div>
            -->
          </div>

    </body>
</html>
